.button-profile {
  display: block;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 50%;
  position: relative;

  &::before {
    @include absolute(70px, 50px);
    left: -5px;
    bottom: -30px;
    z-index: 1000;
  }

  &__picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    outline: 3px solid $color-blue;

    &:hover {
      outline: 4px solid $color-blue-dark;
      transition: all 0.1s linear;
    }
  }

  &__popup {
    top: 70px;
    z-index: 100;
    min-width: 250px;
    position: absolute;
  }
}
