<div class="loader__box">
  <div class="loader__container">
    <span class="loader__circle"></span>
    <span class="loader__circle"></span>
    <span class="loader__circle"></span>
    <span class="loader__circle"></span>
  </div>
</div>
