.loader {
  background: #fff;
  @include absolute(100vw, 100vh);
  @include flexCenter;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;


  &__box{
    @include flexCenter;
    width: 180px;
    height: 180px;
  }

  &__container{
    height: 15px;
    width: 105px;
    display: flex;
    position: relative;
  }

  &__circle{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $color-blue;
    animation: move 600ms linear 0ms infinite;
    margin-right: 30px;

    &:first-child{
      position: absolute;
      top:0;
      left:0;
      animation: grow 600ms linear 0ms infinite;
    }

    &:last-child{
      position: absolute;
      top: 0;
      right: 0;
      margin-right: 0;
      animation: grow 600ms linear 0s infinite reverse;
    }
  }
}



@keyframes grow {
  from {transform: scale(0,0); opacity: 0;}
  to {transform: scale(1,1); opacity: 1;}
}

@keyframes move {
  from {transform: translateX(0px)}
  to {transform: translateX(45px)}
}
