.main-link {
  padding: 20px;
  display: flex;
  border-radius: 10px;
  background-color: $color-blue;
  color: $color-white;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 20px;

  &:hover {
    background-color: $color-blue-dark;
  }
}

