.message-image {
  color: $color-basic-black;
  max-width: 400px;
  min-width: 200px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  position: relative;

  &__picture {
    border-radius: 20px 20px 20px 0;
    width: 100%;
  }

  &__timestamp {
    position: absolute;
    padding: 5px 10px;
    border-radius: 25px;
    font-size: 12px;
    bottom: 15px;
    right: 15px;
    background-color: $color-grey-light-3;
  }

  &--mine::before {
    @include absolute(20px, 20px, '');

    bottom: 18px;
    right: 20px;
    z-index: 20;
    background-color: $color-white;
  }

  &--read::after {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    bottom: 18px;
    right: 16px;
    z-index: 20;
    background-color: $color-white;
  }

  &--mine &__picture {
    border-radius: 20px 20px 0;
  }

  &--mine &__timestamp {
    background-color: $color-blue;
    color: $color-white;
    align-self: flex-end;
    padding-right: 25px;
  }
}
