<div class="message-image__container">
  <img
    class="message-image__picture"
    src="{{content.src}}"
    alt="{{content.desc}}"
  >
</div>
<div class="message-image__timestamp">
  {{time}}
</div>
