.button {
  display: block;
  background-color: $color-blue;
  color: $color-white;
  border: none;
  padding: 15px 40px;
  cursor: pointer;
  border-radius: 50px;
  font-size: inherit;

  &:disabled {
    opacity: 0.8;
    cursor: not-allowed;
  }

  &:hover:not(:disabled) {
    background-color: $color-blue-dark;
  }

  &--secondary {
    background-color: $color-red;
  }

  &--secondary:hover:not(:disabled) {
    background-color: $color-red-dark;
  }
}
