.button {
  background-color: royalblue;
  border-radius: 40px;
  color: white;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: bold;
  border: none;
  display: block;
  margin-bottom: 20px;
}

