<h1 class="main-page__title">Мессенджер</h1>
<nav class="main-page__links">
  <ul class="main-page__links-list">
    {{#each mainLinks}}
    <li class="main-page__link-item">
      {{{this}}}
    </li>
    {{/each}}
  </ul>
</nav>

