.main-page {
  width: 100%;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 2px;
  }

  &__links-list {
    @include resetList;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    min-width: 50%;
  }
}
