<div class="chat__container">
  <div class="chat__left">
    <section class="chat__panel">
      {{{panel}}}
    </section>
    <section class="chat__preview">
      {{{preview}}}
    </section>
  </div>
  <div class="chat__right">
    {{{currentChat}}}
  </div>
</div>
