.message-field {
  width: 100%;
  height: 30px;
  border: none;
  padding: 10px 20px;
  background-color: $color-grey-light-2;
  border-radius: 30px;
  box-shadow: 0 0 0 1px $color-black-10;
  outline: none;

  &:focus {
    box-shadow: 0 0 0 1px $color-blue;
  }
}
