.user-form {

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__avatar {
    margin-right: 40px;
    position: relative;
    width: 70px;
    height: 70px;
    position: relative;
  }

  &__avatar:hover {

    .user-form__avatar-change {
      z-index: 10;
      opacity: 1;
    }
  }

  &__avatar-change {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    font-size: 10px;
    border-radius: 50%;
    border: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $color-black-40;
    color: $color-white;
    opacity: 0;
    transition: all ease 0.2s;
  }

  &__img {
    object-fit: cover;
    z-index: 2;
    border-radius: 50%;
    position: relative;
  }

  &__title {
    margin: 0;
    padding: 0;
    font-size: 30px;
    letter-spacing: 2px;
    color: $color-blue;
    align-self: center;
  }
}
