<div class="user-form__avatar">
  {{{buttonChange}}}
  <img
  class="user-form__img"
  src="{{avatar}}"
  alt="{{avatarDescription}}"
  width="70"
  height="70">
</div>
<h2 class="user-form__title">
  {{title}}
</h2>
