<h2 class="form__title">{{title}}</h2>
<fieldset class="form__fieldset">
  {{#each inputs}}
    <div class="form__field">
      {{{this}}}
    </div>
  {{/each}}
</fieldset>
  <div class="form__submit">
    {{{ button }}}
  </div>
  {{#if link}}
    <div class="form__link">
      {{{link}}}
    </div>
  {{/if}}
