.user-form {
  padding: 0 40px 30px;

  &__fieldset {
    border: none;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
  }

  &__field {
    margin-bottom: 15px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__submit {
    font-size: 15px;
  }

  &__link {
    font-size: 15px;
    color: $color-blue;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
