{{{header}}}
<form>
  <fieldset class="user-form__fieldset">
    {{#each inputs}}
      <div class="user-form__field">
        {{{this}}}
      </div>
    {{/each}}
  </fieldset>
    <div class="user-form__footer">
      <div class="user-form__submit">
        {{{button}}}
      </div>
      {{#if link}}
        <div class="user-form__link">
          {{{link}}}
        </div>
      {{/if}}
    </div>
</form>
