.chat-current {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    align-items: center;
    padding: 20px 40px;
    box-shadow: 0 1px 4px 0 $color-black-10;
  }

  &__conversation {
    padding-right: 15px;
    overflow-y: scroll;
    height: 0;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }

  &__message {
    padding: 20px 40px;
    position: relative;

    &::before {
      @include absolute('none', 2px, '');

      top: 0;
      left: 15px;
      right: 15px;
      background-color: $color-black-10;
    }
  }
}

.no-current {
  height: 100vh;

  @include flexCenter;

  &__text {
    margin: 0;
    font-size: 20px;
    color: $color-blue;
  }
}
