.icon-link {
  text-decoration: none;
  color: $color-blue;
  display: flex;
  align-items: center;
  font-size: inherit;

  &:hover {
    color: $color-blue-dark;
    text-decoration: underline;
  }

  &:hover svg path {
    fill: $color-blue-dark;
  }

  &__picture {
    display: block;
    width: 45px;
    height: 45px;
    margin-right: 20px;
    align-items: center;
  }
}
