.message-form {
  &__fieldset {
    display: flex;
    align-items: center;
    border: none;
  }

  &__field:not(:last-child) {
    margin-right: 30px;
  }

  &__field--text {
    flex-grow: 1;
    position: relative;
  }

  &__validation {
    position: absolute;
    bottom: -20px;
    left: 0;
    font-size: 10px;
    color: $color-red;
  }

  &__button {
    position: relative;
    margin-right: 20px;

    &::before {
      @include absolute(50px, 30px);

      top: -20px;
    }
  }

  &__popup {
    min-width: 250px;
    position: absolute;
    bottom: 50px;
  }
}
