<fieldset class="message-form__fieldset">
  <div class="message-form__field">
    {{{attachButton}}}
  </div>
  <div class="message-form__field message-form__field--text">
    {{{messageField}}}
  </div>
  <div class="message-form__field">
    {{{sendButton}}}
  </div>
</fieldset>
