.field {
  position: relative;

  &__label {
    padding-left: 20px;
    font-size: 15px;
    cursor: pointer;
  }

  & input {
    margin-top: 8px;
  }

  &__validation {
    position: absolute;
    top: 67px;
    left: 20px;
    font-size: 10px;
    color: $color-red;
  }
}


