// COLOR

$color-blue: #2C6BED;
$color-blue-dark: #2762DB;

$color-grey-light: #F8F8F8;
$color-grey-light-2: #EBEBEB;

$color-grey-dark: #E9E9E9;
$color-grey-dark-2: #626262;


$color-white: #F8F8F8;

$color-black-40: rgba(0, 0, 0, 0.4);
