<section class="user-layout">
  <div class="user-layout__link">
    {{>iconLink linkHref="/chat" linkText="Назад к чатам" icon=icon }}
  </div>
  <div class="user-layout__form">
    {{{form}}}
  </div>
  <div class="user-layout__button">
    {{>button type="button" text="Выйти"}}
  </div>
</section>
