<div class="chat-header__info">
  <div class="chat-header__avatar">
    {{{avatar}}}
  </div>
  <h2 class="chat-header__title">
    {{{title}}}
  </h2>
</div>
<div class="chat-header__button">
{{{menuButton}}}
</div>
