<div class="chat-conversation__container">
  <span class="chat-conversation__date">
    {{date}}
  </span>
  {{#each messages}}
    <div class="chat-conversation__message">
      {{{this}}}
    </div>
  {{/each}}
</div>

