<p class="avatar-form__title">Загрузите файл</p>
<input
aria-label="Выберите файл"
type="file"
name="avatar"
id="avatar"
class="visually-hidden"
accept="image/png, image/jpeg, image/jpg"
>
<label class="avatar-form__label" for="avatar">
  {{{icon}}}
</label>
<div class="avatar-form__submit">
  <span class="avatar-form__error error"></span>
  {{{submitButton}}}
</div>

