.message {
  background-color: $color-grey-dark;
  color: $color-basic-black;
  max-width: 400px;
  min-width: 200px;
  padding: 10px;
  border-radius: 12px 12px 12px 0;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  position: relative;

  &__container {
    margin-bottom: 7px;
  }

  &__author {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
  }

  &__text {
    margin: 0;
    padding: 0;
  }

  &__timestamp {
    font-size: 10px;
    opacity: 0.7;
    align-self: flex-end;
  }

  &--mine {
    border-radius: 12px 12px 0;
    align-self: flex-end;
    background-color: $color-blue;
    color: $color-white;
  }

  &--read {
    ::before {
      @include absolute(20px, 20px, '');

      bottom: 18px;
      right: 20px;
      background-image: url('../static/icons/tick.svg');
    }

    ::after {
      @include absolute(20px, 20px, '');

      bottom: 18px;
      right: 15px;
      background-image: url('../static/icons/tick.svg');
    }
  }

  &--mine &__timestamp {
    align-self: flex-end;
    padding-right: 10px;
  }
}
